@import '../node_modules/flexboxgrid-sass/flexboxgrid';

.row {
  margin: 0;
}
.no-gutter > * {
  padding: 0;
}
.show-only-xs {
  display: flex !important;
}
.show-only-sm, .show-only-md, .show-only-lg,
.show-sm, .show-md, .show-lg {
  display: none;
}
@media only screen and (min-width: 48em) {
  .show-only-xs {
    display: none !important;
  }
  .show-sm, .show-only-sm {
    display: flex !important;
  }
}
@media only screen and (min-width: 64em) {
  .show-only-sm {
    display: none !important;
  }
  .show-md, .show-only-md {
    display: flex !important;
  }
}
@media only screen and (min-width: 75em) {
  .show-only-md{
    display: none !important;
  }
  .show-lg, .show-only-lg {
    display: flex !important;
  }
}
