@mixin hardware-acceleration($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
}

// Colors & Themes
/////////////////////

$theme-primary: black;
$theme-secondary: white;

$color-black: black;
$color-white: white;
$color-glass: rgba(255, 255, 255, 0.1);
$color-dark-glass: rgba(0, 0, 0, 0.1);
$color-paper: #fff8e1;
$color-dark-grey: #263238;

.glass {
  background-color: $color-glass;
  color: $color-white;
}
.black {
  background-color: $color-black;
  color: $color-white;
}
.dark-grey {
  background-color: $color-dark-grey;
  color: $color-white;
}
.paper {
  background-color: $color-paper;
  color: $color-dark-grey;
}


.icon-sm {
  width: 32px;
  margin: 0px 7px;
  vertical-align: middle;
}
.image {
  width: 100%;
}
.rounded {
  border-radius: 50%;
}
.block-centered {
  margin: auto;
  display: block;
}



.button, .icon-button {
  padding: 10px 20px;
  border-radius: 50px;
  margin: 2px 5px;

  &.outline {
    background: transparent;
    &.white {
      border: 2px solid $color-white;
      color: $color-white;
    }
    &.black {
      border: 2px solid $color-black;
      color: $color-black;
    }
  }

  &.flat {
    &.black {
      background-color: transparent;
      color: $color-black;
      &:hover {
        background-color: $color-dark-glass !important;
      }
    }
    &.white {
      background-color: transparent;
      color: $color-white;
    }
  }
}

.icon-button {
  font-size: 40px
}

.paralax {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.background-canvas {
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}

.full-height {
  height: 100vh;
}
.limit-full-height {
  max-height: 100vh;
}


// Effects
/////////////

.hover-scalable, .hover-shadow {
  transition: 0.25s ease-in;
}
.hover-scalable:hover {
  transform: scale(1.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.hover-shadow:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}